<footer class="footer wow fadeInUp" data-wow-duration="3s">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="site-info">
                    <img src="{{ url_for('static', filename='images/footer-logo.png') }}" class="mx-4 mt-5" alt="">                     
                    <p class="mx-4 mt-5"> {{ footer_itemtxt1 }} </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-n1">
                <div class="quick-link mt-4">
                    <h3 class="mx-5 mt-5">Contact Us</h3>
                    <ul class="mx-5">
                        <li> {{ projname }} </li>
                        <li> {{ projaddr1 }} </li>
                        <li> {{ projaddr2 }} </li>
                        <li class="mt-5"> More ways: <a href="{{ url_for('contactus') }}" class="btn_foot btn-blue ml-4">Contact us</a></li>
                        
                     </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="subscribe">
                    <h3 class="text-center mt-5">The Challenge</h3>
                    <h5><i class="fas fa-quote-left"></i> {{ footer_itemtxt2 }} <i class="fas fa-quote-right ml-10"></i> </h5>                    
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-inner blank-space">
        <address>
        {{ copyrightmsg }}  <a href="{{ url_for('terms') }}" style="color: yellow;"> See here.</a>
        </address>
      </div>
    </div>
  </section>