<!-- Main top section of the content. -->
<div class="row wow fadeInUp" data-wow-duration="2s">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="bg-transparent mt-5 mt-sm-4 mt-lg-1">
            <h2 class="text-highlight mt-2">{{ board_itemtxt1 }}</h2>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<p class="p6line-space"> </p>
<hr class="space">
<p class="p6line-space"> </p>
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-2"></div>
    <div class="col-md-8 text-center">
        <div class="bg-transparent mb-5 mb-sm-4 mb-lg-2">
            <p class="text-secondary mt-auto">{{ board_itemtxt2 }}</p>
            <p class="text-secondary mb-auto">{{ board_itemtxt3 }}</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>
