<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">{{ joinin_itemtxt1 }}</h2>
        </div>
        <hr class="space">
        <div class="list-content text-left pt-4 pt-md-3">
            <p class="mt-2 mt-md-4"><em>{{ joinin_itemtxt2 }}</em></p>            
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-4 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/researcher_working.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-4">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt3 }}</h2>
            <p>{{ joinin_itemtxt4 }}</p>
            <a data-target="#myModal" role="button" class="btn btn-msg" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span>Contact us</a>
            <!-- <a href="{{ url_for('whyapply') }}" class="btn btn-msg">Contact us</a> -->
            <a href="{{ url_for('whyapply') }}" class="btn btn-site">About grants</a>
        </div>
    </div>
    <div class="col-md-4 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/researcher_dreaming.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/school_administrators_teachers_cheering.jpg') }}" class="img-fluid" alt="" style="width:115%;"/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt5 }}</h2>
            <p class="blank-space"> </p>
            <p>{{ joinin_itemtxt6 }}</p>
<!--            
            <div class="col-md-12 text-right pt-2">    
                {% set emailto = "pilottest@strongfam.org" %}
                {% set subject = "Action message initiated by SFF website visitor" %} 
                {% set message = "Please send me more information about Harvard pilot testing." %}
                {% set mailto = emailto + "?subject=" + subject + "?body=" + message %}
                <a class="btn btn-site btn-email" href="mailto:{{ mailto }}">
                    <i class="fas fa-envelope fa-md"></i> <span class="fa-md">Email to learn more about Harvard pilot testing</span></a>
            </div>
-->
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/high_school_students_in_class.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt7 }}</h2>
            <p class="disp-inline">{{ joinin_itemtxt8 }}</p>
            <a href="{{ url_for('why') }}" class="a:link">here</a>
            <p class="disp-inline">{{ joinin_itemtxt9 }}</p>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt10 }}</h2>
            <p>{{ joinin_itemtxt11 }}</p>
            <a href="{{ url_for('curriculum') }}" class="btn btn-site">Curriculum map</a>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/parents_teaching_child.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt12 }}</h2>
            <p>{{ joinin_itemtxt13 }}</p>
<!--
            <div class="col-md-12 text-right pt-2">    
                {% set emailto = "publish@strongfam.org" %}
                {% set subject = "Action message initiated by SFF website visitor" %} 
                {% set message = "I would like to learn more about publishing my research on strongfam.org:" %}
                {% set mailto = emailto + "?subject=" + (subject | urlencode + "&body=" + message | urlencode) %}
                <a class="btn btn-site btn-email mr-3" href="mailto:{{ mailto }}">
                    <i class="fas fa-envelope fa-md"></i> <span class="ml-2 fa-md">Email to learn more about publishing my research</span></a>
            </div>
-->
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/researcher_research_reporting.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="list-content text-left">
            <h2 class="sub-heading">{{ joinin_itemtxt14 }}</h2>
            <p>{{ joinin_itemtxt15 }}</p>            
<!--
            <div class="col-md-12 text-right pt-2">    
                {% set emailto = "contact@strongfam.org" %}
                {% set subject = "Action message 3 initiated by SFF website visitor" %} 
                {% set message = "My suggestion for joining in is:" %}
                {% set mailto = emailto + "?subject=" + (subject | urlencode + "&body=" + message | urlencode) %}
                <a class="btn btn-site btn-email mr-3" href="mailto:{{ mailto }}">
                    <i class="fas fa-envelope fa-md"></i> <span class="ml-2 fa-md">Email a join in suggestion</span></a>   
            </div>
-->
        </div>
    </div>
    <div class="col-2"></div>
</div>

<div id="myModal" class="modal fade" role="dialog">  
    <div class="modal-dialog m-auto">  
 <!-- Modal content-->  
            <div class="modal-content" style="background-color: #F7F2C5;">  

                <form method="POST" action="{{ url_for('sharemyidea') }}" id="shareMyIdeaForm" name="shareMyIdeaForm">

                    <div class="modal-header">
                        <h1 class="modal-title ml-4 mr-1 text-highlight" style="color:Navy;">Send in a message or question</h1>
                        <button type="button" class="close" data-dismiss="modal">×</button>  
                    </div>  

                    <div class="modal-body px-4">

                        <div class="form-row">
                            <div class="form-group col-md-12 required">
                                {{ form.subject.label }}
                                <select id="subject" name="subject" class="form-control" required title="Subject">
                                    <option value="" selected>Choose...</option>
                                    {%for subject in subjects_list%}   
                                        <option value="{{subject[0]}}">{{subject[1]}}</option> 
                                    {%endfor%} 
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>  
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 required">
                                {{ form.visname.label }}
                                {{ form.visname(class=" form-control restrictedText", placeholder=form.visname.label.text, title="VIS Name") }}
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 required">
                                {{ form.visemail.label }}
                                {{ form.visemail(class="form-control", type="email", placeholder=form.visemail.label.text, title="VIS Email") }}
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 required">
                                {{ form.message.label }}
                                {{ form.message(class="form-control", title=form.message.label.text) }}
                                <small id="messageHelpBlock" class="form-text text-muted">
                                    The maximum length is 480 characters or about 80 words.
                                </small>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>


                        <!-- <button type="button" name="login_button" id="login_button" class="btn btn-warning">Login</button>   -->
                        <div class="form-row">
                            <a role="button" class="btn btn-msg m-auto"></span>Submit</a>
                        </div>
                        
                    </div> 
                </form> 
            </div>  
    </div>  
</div>

<script type="text/javascript">
    var ctrlDown = false,
        ctrlKey = 17,
        cmdKey = 91,
        vKey = 86;

    var hintText = 'This field accepts only characters, numbers, ampersands and hyphens.';
    
    $(document).ready(function() {
        $('.modal-header').on('mousedown', function(downEvt) {
            console.log("modal-header: mousedown");
            var $draggable = $(this);
            var x = downEvt.pageX - $draggable.offset().left,
                y = downEvt.pageY - $draggable.offset().top;
            $('body').on('mousemove.draggable', function(moveEvt) {
                $draggable.closest('.modal-dialog').offset({
                    "left": moveEvt.pageX - x,
                    "top": moveEvt.pageY - y
                })            
            })

            $('body').on('mouseup', function() {
                $('body').off('mousemove.draggable')
            })

            $draggable.closest('.modal').one('bs.modal.hide', function() {
                $('body').off('mousemove.draggable')
            })
        })

        // $('#shareMyIdeaForm').submit(function (e) {
        //     var url = "{{ url_for('savemyidea') }}"; // send the form data here.
        //     $('#shareMyIdeaForm .is-invalid').removeClass('is-invalid');
        //     $('.alert_msg').html('');
        //     $('.alert').hide()

        //     $('.loading').show();
        //     $.ajax({
        //         type: "POST",
        //         url: url,
        //         data: $('#shareMyIdeaForm').serialize(), // serializes the form's elements.
        //         success: function (resp) {
        //             console.log(resp.status)  // display the returned data in the console.
        //             if(resp.status == 'success'){
        //                 //$('.alert-success').find('.alert_msg').html(resp.message);
        //                 //$('.alert-success').show();
        //                 document.getElementById("shareMyIdeaForm").reset();
        //                 $('#shareMyIdeaForm .is-invalid').removeClass('is-invalid');
        //                 $('#shareMyIdeaForm .is-valid').removeClass('is-valid');
        //                 window.location.href = resp.url;

        //             } else {                            
        //                 var errors = resp.data;
        //                 var error_list = '<ul>';
        //                 $.each(errors, function(key, error){
        //                     if(key !== 'undefined' && key !== 'csrf_token') {
        //                         $('#'+key).addClass('is-invalid');                                
        //                         $('#'+key).parent().find('.invalid-feedback').html(error[0]);                                
        //                         error_list += '<li><span data-target="#'+key+'" class="error_list">' + $('#'+key).attr('title') + '</span>: ' + error[0]+'</li>';
        //                     } else {
        //                         error_list += '<li>'+error[0]+'</li>';
        //                     }                                
        //                 });                          
        //                 error_list += "</ul>";
        //                 //$('.alert-danger').find('.alert_msg').html(resp.message);                            
        //                 $('.alert-danger').find('.alert_msg').html(error_list);
        //                 $('.alert-danger').show();
        //                 //$('html,body').animate({scrollTop: $('#shareMyIdeaForm .is-invalid').first().offset().top - 100},'slow');
        //             }

        //             $('html,body').animate({scrollTop: $('.alert').first().offset().top - 100},'slow');
        //             $('.loading').hide();
        //         }
        //     });
        //     e.preventDefault(); // block the traditional submission of the form.
        // });

        $(document).on('click','.error_list',function(){
            var target = $(this).data('target');
            $('html,body').animate({scrollTop: $(target).offset().top - 100},'slow');
        });

        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })

        

        $(document).keydown(function(e) {
            if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = true;
        }).keyup(function(e) {
            if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = false;
        });

        
        $("textarea").on("paste", function(e){
            // access the clipboard using the api
            var pastedData = e.originalEvent.clipboardData.getData('text/plain');
            
            $(this).addClass('is-invalid');
            var max = $(this).prop("maxlength");
            if(pastedData.length > max){
                var msg = "<small>You have entered "+pastedData.length+" characters. Your entry has been truncated to "+max+ " characters automatically.</small>";
                $(this).parent().append('<div class="invalid-length text-danger">'+msg+'</div>');
            }
        });
        $("textarea").keypress(function(e){
            if($(this).length <= $(this).prop("maxlength")) {
                $(this).parent().find('.invalid-length').remove();
            }
        });

        var hintContent = '<small class="form-text text-muted">'+hintText+'</small>';
        $('.restrictedText').after(hintContent);

        // The function you currently have
        $('.restrictedText').keypress(function (e) {
            var allowedChars = new RegExp("^[a-zA-Z0-9 &\-]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (allowedChars.test(str)) {
                return true;
            }
            e.preventDefault();
            return false;
        }).keyup(function() {
            // the addition, which whill check the value after a keyup (triggered by Ctrl+V)
            // We take the same regex as for allowedChars, but we add ^ after the first bracket : it means "all character BUT these"
            var forbiddenChars = new RegExp("[^a-zA-Z0-9 &\-]", 'g');
            if (forbiddenChars.test($(this).val())) {
                //$(this).val($(this).val().replace(forbiddenChars, ''));
            }
        });
    })
</script>
