<!-- Main top section of the content. -->
<div class="row align-items-left">
    <div class="col-2"></div>
    <div class="col-md-8 text-center mt-5 mb-n4 mt-sm-4 mb-sm-n4 mt-lg-n3">
        <div class="bg-transparent">
            <h2 class="">{{ terms_itemtxt1 }}</h2>
        </div>
        <p class="py-3">{{ terms_itemtxt2 }}</p>
    </div>
    <div class="col-2"></div>
</div>
<p class="p30line-space"> </p>
<div class="row align-items-center wow fadeInUp" style="background-color: gray;" data-wow-duration="2s">
    <div class="col-2"></div>
    <div class="col-md-8 p-5" style="background-color:lavender;">
        <div class="bg-transparent">
          <p class="text-highlight-ms-italic">{{ terms_itemtxt3 }}</p>            
        </div>
    </div>
    <div class="col-2"></div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-1 blank-space"> </div>
    <div class="col-md-5">
        <div  class="pl-1">
            <p class="pl-1">{{ terms_itemtxt4 }}</p>
        </div>
    </div>
    <div class="col-md-5 col-pr-1">
        <div>
            <p class="font-weight-bold pl-4 pr-3">{{ terms_itemtxt5 }}</p>
        </div>
    </div>
    <div class="col-1 blank-space"> </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="mb-n5">
        <div class="list-content text-left pl-4 pr-0">
            <ul id="line-height-terms" class="details-cont mt-3 pl-2" style="list-style-type:none;">
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-3 pt-4">{{ terms_itemtxt6 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt7 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt8 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt9 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt10 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt11 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt12 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt13 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt14 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt15 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt16 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt17 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt18 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt19 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt20 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt21 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt22 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt23 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt24 }}</h3>
                <span class="font-weight-bold d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt25 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt26 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt27 }}</span>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4 blank-space" style="margin-top: 35px !important;"> </h3>
                <span class="font-weight-bold d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt28 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt29 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt30 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt31 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt32 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt33 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt34 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt35 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt36 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4 blank-space" style="margin-top: 35px !important;"> </h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt37 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt38 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt39 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt40 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt41 }}</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-terms-big" class="font-family-serif text-left align-top d-inline-block w-25 pr-4 mt-4" style="margin-top: 35px !important;">{{ terms_itemtxt42 }}</h3>
                <span class="d-inline-block w-60 pl-5 mt-4">{{ terms_itemtxt43 }}</span></li>
              <div class="blank-space mt-3"> </div>
              <li><p class="font-family-serif text-left align-top d-inline-block w-19 mr-5 blank-space">- </p>
                <span class="d-inline-block w-70 text-center ml-5 pl-5">{{ terms_itemtxt44 }}</span></li>
            </ul>
        </div>
    </div>
</div>

