<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent">
            <h2 class="text-highlight mt-4 mb-sm-4 my-md-2 mt-lg-n2">{{ whatexpect_itemtxt1 }}</h2>
        </div>
    </div>
</div>
<hr class="space">
{% include "layouts/message.html" %}
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="list-content text-left">
            <p>{{ whatexpect_itemtxt2 }}</p>            
            <p>{{ whatexpect_itemtxt3 }}</p>            
            <p>{{ whatexpect_itemtxt4 }}</p>            
            <p>{{ whatexpect_itemtxt5 }}</p>            
            <p class="p10line-space"> </p>
            <p class="text-highlight font-italic f19 mb-5 mt-sm-2 mt-lg-3">{{ whatexpect_itemtxt6 }}</p>            
        </div>
    </div>
</div>
